[submodule "bash-completion"]
	path = bash-completion
	url = git@github.com:scop/bash-completion.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "fzf"]
	path = fzf
	url = git@github.com:junegunn/fzf.git
[submodule "i3"]
	path = i3
	url = git@github.com:i3/i3.git
[submodule "ripgrep"]
	path = ripgrep
	url = git@github.com:BurntSushi/ripgrep.git
[submodule "dunst"]
	path = dunst
	url = git@github.com:dunst-project/dunst.git
[submodule "j4-dmenu-desktop"]
	path = j4-dmenu-desktop
	url = git@github.com:enkore/j4-dmenu-desktop.git
[submodule "rsync-incremental-backup"]
	path = rsync-incremental-backup
	url = git@github.com:pedroetb/rsync-incremental-backup.git
[submodule "i3status-rust"]
	path = i3status-rust
	url = https://github.com/greshake/i3status-rust
[submodule "picom"]
	path = picom
	url = git@github.com:yshui/picom.git
[submodule "lazygit"]
	path = lazygit
	url = git@github.com:jesseduffield/lazygit.git
[submodule "ubuntu-sb-kernel-signing"]
	path = ubuntu-sb-kernel-signing
	url = git@github.com:berglh/ubuntu-sb-kernel-signing.git
[submodule "linux-firmware"]
	path = linux-firmware
	url = https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = git@github.com:so-fancy/diff-so-fancy.git
[submodule "hyperfine"]
	path = hyperfine
	url = git@github.com:sharkdp/hyperfine.git
