[submodule "bash-completion"]
	path = bash-completion
	url = git@github.com:scop/bash-completion.git
[submodule "alacritty"]
	path = alacritty
	url = https://github.com/alacritty/alacritty.git
[submodule "fzf"]
	path = fzf
	url = git@github.com:junegunn/fzf.git
[submodule "i3"]
	path = i3
	url = git@github.com:i3/i3.git
[submodule "ripgrep"]
	path = ripgrep
	url = git@github.com:BurntSushi/ripgrep.git
